version: "3"

services:

  app:
    image: ${APP_REGISTRY}
    volumes:
      - app:/home/laravel/web/storage
      - ${APP_ENV}:/home/laravel/web/.env
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - db
      - cache
    networks:
      - backend
      - frontend

volumes:
  app:
